<label class="cp-label">
  {{ nombreCampo() }}
  @if (esRequerido()) {
    <span class="text-danger">*</span>
  }
</label>

<div class="input-icon-wrap">

  <select
    class="form-select"
    [class.is-invalid]="hasError() && formControlGet.touched"
    [formControl]="formControlGet"
    (blur)="onBlur()"
  >

    @if (placeholder()) {
      <option value="">
        {{ placeholder() }}
      </option>
    }

    @for (opcion of opcionesFiltradas(); track opcion[keyOpciones()]) {
      <option [ngValue]="opcion[keyOpciones()]">
        {{ opcion[textoOpciones()] }}
      </option>
    }

  </select>

</div>

<div class="field-error show">
  <app-form-validation
    [control]="formControlGet"
    [label]="nombreCampo()"
  />
</div>